.contact_title { 
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, .18);  
    margin-top: 50px;
    width: 100%;  
}

.localisation_img {
    width:450px;
    cursor: pointer;
}
.localisation_img:hover {
	opacity: 0.9;
	transition: opacity 0.5s;
}
