/*loader accueil*/
.loader__enter {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.95);
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
	/*temps d'apparition du loader*/
	animation: fadeout 15s forwards;
  }
  /*Niveau opacite*/
  @keyframes fadeout {
	0% {
	  opacity:1;
	}
	99% {
		opacity:0;
		z-index: 0;
	  }
	100% {
		display: none;
        opacity:0;
	}
  }
  .loader{
	font-size: 48px;
	color: black;
	display: inline-block;
	font-weight: 400;
	position: relative;
  }
  .loader:before{
	content: 'mon portfolio';
	height: 5px;
	border: 1px solid;
	border-radius: 10px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	background: linear-gradient(red 100%, transparent 0) no-repeat;
	background-size: 0% auto;
	/*temps de chargement de barre*/
	animation: 12s lineGrow linear infinite;
  }
  .loader:after{
	content: 'Bienvenue sur';
	position: relative;
	z-index: 5;
  }
  @keyframes lineGrow {to {  background-size: 100% auto}}
  .loader-circle {
	width: 200px;
	height: 200px;
	border: 5px dotted black;
	border-style: solid solid dotted dotted;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	/*vitesse de rotation du cercle*/
	animation: rotation 15s linear infinite;
  }
  /*2eme cercle*/
  .loader-circle::after {
	content: '';  
	box-sizing: border-box;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border: 5px dotted grey;
	border-style: solid solid dotted;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	animation: rotation 15s linear infinite;
	transform-origin: center center;
  }  

  @keyframes rotation {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  } 
  @keyframes rotationBack {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(-360deg);
	}
  } 