.top-header {
    background-color: #fff;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding-inline: 10%;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, .18);
    z-index: 10000;
    height: 80px;
    width: 60%;

    &_h1 {
        font-size: 20px;
        color: black;
        margin: 0;
    }
    &_h1_color {
        font-size: 25px;
        color: red;
        margin: 0;
    }

    &_p {
        font-size: 25px;
        color: black;
        margin: 0;

    }
}
.top-header_title {
    width: 100px;
}

.dropbtn {
    background-color: #ddd;
    color: black;
    padding: 15px;
    border-radius: 50px;
    font-size: 16px;
    border: none;
    width: 150px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.966);  
    cursor: pointer;   
}

.dropdown {
    position: relative;
    display: inline-block;
   
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, .18);
    z-index: 1; 
}

.dropdown-content a {
    color: black;
    padding: 15px 50px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


@media all and (max-width:850px) {
    .top-header {
        flex-direction: column;
        padding-inline: 0;
        height: 300px;
    }
.dropbtn {
    margin-top: 30px;
}
    .top-header,
    .top-header {
        width: 100%;
        padding: 0 0 0 0;
        flex-direction: column;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }

    .top-header {
        flex: 1;
        padding-block: 1em;
        text-align: center;
    }

    .img_portfolio {
        width: 50%;
    }
}