.showcase {
  height: 100vh;
  position: relative;
  background: url('https://images5.alphacoders.com/430/430918.jpg') no-repeat center center/cover;
}

.showcase-top {
  position: relative;
  z-index: 2;
  height: 20px;
}

.showcase-content {
  position: relative;
  z-index: 2;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 150px;

  &_title {
    font-size: 75px;
    font-weight: 600;
    text-shadow: 10px 10px 100px white;
    padding-bottom: 25px;
  }

  &_p {
    font-size: 50px;
    font-weight: 600;
    color: white;
    text-shadow: 10px 10px 100px white;
  }

  &_about {
    display: flex;
    width: 75%;
  }

  &_h2 {
    font-size: 50px;
    font-weight: 600;
    color: white;
    text-shadow: 10px 10px 100px white;
    text-decoration: underline;
  }

}