.competence {
    display: flex;
    color: black;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    text-shadow: 10px 5px 5px rgb(90, 182, 236);
    font-size: 40px;

    &_body {
        display: flex;
        flex-direction: column;
        background-color: white;
        border: 2px solid rgb(90, 182, 236);
        height: 50vh;
    }

    &_name {
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.icone {
    padding-top: 15px;
    padding-bottom: 15px;

    &_img {
        width: 100px;
    }
}

.span_p {
    display: flex;
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .competence_body {
        height: 65vh;
    }
}