/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");

/*=============== Variable ===============*/
:root {
  --body-font: "Syne", sans-serif;
}

html {
  background-color: blue;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



