/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");

/*=============== Variable ===============*/
    /* Global Styles */
    :root {
      --body-font: "Syne", sans-serif;
      --primary-color: #e50914;
      --dark-color: #141414;
      --light-color: #f4f4f4;
    }

    html {
      background-color: white;
    }
    
    
    body {
      font-family: 'Arial', sans-serif;
      background-color: white;
      width: auto;
      height: auto;
      margin: 0;
    }
    

    /*ProfilAccueil*/
    /*Navigation */
    /*Presentation*/
    /*Competence */
    /*Projets */
    /*Footer */
