@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  margin: 0;
  position: relative;
}

.main,
.main_home {
  display: flex;
  flex-direction: column;
  align-items: center;
}